@charset "utf-8";
#maintext {
  width: 600px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*            overflow: hidden;*/
}
.maintext_text {
  text-align: center;
  line-height: 100px;
  float: left;
  width: 11.11%;
  height: 100%;
  font-size: 70px;
  margin-top: 35px;
  opacity: 0;
  transition: 0.5s;
}
.maintext_text.maintexton {
  margin-top: 0;
  opacity: 1;
}
.maintext_text:nth-child(2) {
  transition-delay: 0.1s;
}
.maintext_text:nth-child(3) {
  transition-delay: 0.2s;
}
.maintext_text:nth-child(4) {
  transition-delay: 0.3s;
}
.maintext_text:nth-child(5) {
  transition-delay: 0.4s;
}
.maintext_text:nth-child(6) {
  transition-delay: 0.5s;
}
.maintext_text:nth-child(7) {
  transition-delay: 0.6s;
}
.maintext_text:nth-child(8) {
  transition-delay: 0.7s;
}
.maintext_text:nth-child(9) {
  transition-delay: 0.8s;
}
#maintext_by {
  position: absolute;
  font-size: 20px;
  right: 0px;
  bottom: -30px;
  opacity: 0;
  transition: 0.8s;
  transition-delay: 1.3s;
}
#maintext_by.maintexton {
  opacity: 1;
}

#bottomarrow {
  position: absolute;
  z-index: 9995;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 20px solid #474747;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  cursor: pointer;
}
#contact {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  text-align: left;
  font-size: 15px;
}
@media (max-width: 765px) {
  #maintext {
    width: 80%;
  }
  #contact {
    display: none;
  }
  .maintext_text {
    font-size: 20px;
  }
  #maintext_by {
    font-size: 15px;
    bottom: -5px;
  }
}
