@charset "utf-8";
#section2 {
  height: auto;
  padding: 150px 0;
}
#abouttext {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 150px;
  overflow: hidden;
}
#abouttext > p {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 30px;
  transform: translateY(20px);
  transition: 0.5s;
  opacity: 0;
}
#abouttext > p.on {
  transform: translateY(0);
  opacity: 1;
}
#abouttext > p:nth-child(2) {
  transition-delay: 0.1s;
}
#abouttext > p:nth-child(3) {
  transition-delay: 0.2s;
}
#abouttext > p:nth-child(4) {
  transition-delay: 0.3s;
}
#abouttext > p:nth-child(5) {
  transition-delay: 0.4s;
}

/* certification */
#section2 .certification_wrap p {
  font-size: 18px;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(-50px);
}

#section2 .certification_wrap h2 {
  transition: 0.5s;
  opacity: 0;
}
#section2 .certification_wrap h2.on {
  opacity: 1;
}

#section2 .certification_wrap p.on {
  transform: translateX(0);
  opacity: 1;
}

/* skills */
#skills_wrap {
  width: 30vw;
  margin-left: 20vw;
}
#skills_wrap .skillsbox {
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;
  transform: translateX(50px);
  opacity: 0;
}
#skills_wrap .skillsbox.on {
  opacity: 1;
  transform: translateX(0);
}

#skills_wrap .skillbox_img {
  width: 20%;
}

#skills_wrap .bar_wrap {
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#skills_wrap .bar_wrap .bar {
  width: 0;
  height: 10px;
  background: #bafeff;
  transition: 1.5s;
  transition-timing-function: ease-in-out;
}

#skills_wrap .skillsbox:nth-child(1) .bar.on {
  width: 90%;
}
#skills_wrap .skillsbox:nth-child(2) .bar.on {
  width: 90%;
}
#skills_wrap .skillsbox:nth-child(3) .bar.on {
  width: 80%;
}
#skills_wrap .skillsbox:nth-child(4) .bar.on {
  width: 90%;
}
#skills_wrap .skillsbox:nth-child(5) .bar.on {
  width: 70%;
}
#skills_wrap .skillsbox:nth-child(6) .bar.on {
  width: 50%;
}
#skills_wrap .skillsbox:nth-child(7) .bar.on {
  width: 40%;
}
#skills_wrap .skillsbox:nth-child(8) .bar.on {
  width: 50%;
}

.plusstack {
  width: 35%;
}

@media (max-width: 765px) {
  .about_wrap {
    flex-flow: column;
  }
  #skills_wrap {
    width: 80vw;
    margin-top: 5vw;
  }
  .about_wrap > div {
    margin-left: auto !important;
    margin-right: auto;
  }
}
