@charset "utf-8";
#workstext{
            width: 150px;
            position: absolute;
            left: 50%;
            top: 60px;
            transform: translate(-50%,0);
        }
        .workstext_text{
            float: left;
            width: 20%;
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
            transition: 0.5s;
            opacity: 0;
        }
        .workstext_text.workstexton{
            margin-top: 0;
            opacity: 1;
        }
        .workstext_text:nth-child(2){
            transition-delay: 0.1s;
        }
        .workstext_text:nth-child(3){
            transition-delay: 0.2s;
        }
        .workstext_text:nth-child(4){
            transition-delay: 0.3s;
        }
        .workstext_text:nth-child(5){
            transition-delay: 0.4s;
        }
        
        #workslist{
            position: absolute;
            top: 55%;
            left: 0%;
            transform: translate(0,-50%);
            width: 300px;
            height: 78%;
            background: #e6fdff;
            opacity: 0;
            transition: 0.5s;
            transition-delay: 0.6s;
        }
        #workslist.worksliston{
            left: 5%;
            opacity: 1;
        }
        #workslist.worksliston880{
            top: 80%;
            left: 50%;
            width: 150px;
            height: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            opacity: 1;
        }
        #workslistupbtn, #workslistdownbtn{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
        }
        #workslistupbtn{
            top: -13px;
            border-top: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #474747;
            border-left: 20px solid transparent;
            cursor: pointer;
            display: none;
        }
        #workslistdownbtn{
            bottom: -13px;
            border-top: 20px solid #474747;
            border-right: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid transparent;
            cursor: pointer;
        }
        #workslistbox{
            position: absolute;
            width: 80%;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
        }
        #works_movebox{
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translate(-50%,0);
            width: 100%;
            height: 2400px;
        }
        .worksbox{
            width: 90%;
            height: 250px;
            margin-bottom: 50px;
            opacity: 0.3;
            transition: 0.5s;
            margin-left: 10px;
            cursor: pointer;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
        }
#works_movebox.works_movebox880{
    top: 70px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}
        .worksbox.workson{
            opacity: 1;
            box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
        }
        .worksbox:nth-child(1){
            background: url(commonwebimg1.JPG) no-repeat center white;
            background-size: 100%;
        }
        .worksbox:nth-child(2){
            background: url(responsivewebimg1.JPG) no-repeat center white;
            background-size: 100%;
        }
        .worksbox:nth-child(3){
            background: url(ufcimg.JPG) no-repeat center white;
            background-size: cover;
        }
        .worksbox:nth-child(4){
            background: url(pbimg.JPG) no-repeat center white;
            background-size: 150%;
        }
        .worksbox:nth-child(5){
            background: url(port2img.JPG) no-repeat center #333;
            background-size: 100%;
        }
        .worksbox:nth-child(6){
            background: url(jokerimg.JPG) no-repeat center white;
            background-size: cover;
        }
        .worksbox:nth-child(7){
            background: url(monimg.JPG) no-repeat center white;
            background-size: cover;
        }
        .worksbox:nth-child(8){
            background: url(laonimg1.JPG) no-repeat center white;
            background-size: 100%;
        }
        #works_screenbox{
            position: absolute;
            right: 5%;
            top: 62%;
            transform: translate(0,-50%);
            width: 50%;
            height: 35vw;
            transition: 0.5s;
            opacity: 0;
            transition-delay: 0.8s;
        }
        #works_screenbox.worksscreenon{
            opacity: 1;
            top: 60%;
        }
        #works_screenbox.worksscreenon880{
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        .worksscreenbox{
            position: absolute;
            width: 100%;
            height: 60%;
            background: #e6fdff;
            opacity: 0;
            transition: 0.5s;
        }
        .worksscreenbox img{
            position: absolute;   
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .worksscreenbox:nth-child(1) img{
            width: 40%;
        }
        .worksscreenbox:nth-child(2) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(3) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(4) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(5) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(6) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(7) img{
            width: 100%;
        }
        .worksscreenbox:nth-child(8) img{
            width: 100%;
        }
        .worksscreenbox.worksscreenon{
            opacity: 1;
        }
        
        .worksscreenboxtext{
            width: 100%;
            height: 40px;
            background: #e6fdff;
            position: absolute;
            bottom: -130px;
            font-size: 13px;
            text-align: center;
            font-family: 'Noto Serif KR', serif;
            padding-top: 30px;
        }
        .worksscreenboxtext p a{
            position: absolute;
            right: 0;
            top: 130%;
            font-size: 0.7vw;
            color: #474747;
            display: none;
        }
        .worksscreenboxtext p a.linkon{
            display: block;
        }
        @media (max-width:880px){
            #workslist{
                top: 80%;
                left: 50%;
                width: 25%;
                height: 80vw;
                transform: translate(-50%, -50%) rotate(-90deg);
/*                transform: rotate(-90deg);*/
            }
            .worksbox{
                 transform: rotate(90deg);
            }
            #works_screenbox{
                top: 43%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
